#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 80px;
  width: 100px;
  margin: 1vw;

  @media only screen and (max-width: 1000px) {
    height: 60px;
    width: 80px;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  overflow: hidden;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5vw;
  padding: 1vw;
  background: #1111;
}

.nav-container a {
  font-size: 20px;
  float: left;
  display: block;
  color: black;
  text-align: center;
  margin-left: 3vw;
  margin-right: 3vw;
  text-decoration: none;

  @media only screen and (max-width: 768px) {
    font-size: 2.5vw;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2vw;
  }
}

.list-button {
  margin-right: 20px;
}

.list-button div {
  font-size: x-large;
}

.overlay {
  height: 0;
  width: 60%;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0;
    right: 35px;
  }
}

.overlay.open {
  height: 50%;
}

.signup-container {
  max-width: 400px;
  margin: 6vw auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.signup-container h2 {
  font-size: 2vw;
  margin-bottom: 30px;
}

.signup-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-btn,
.google-signup-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #fafbfc;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover,
.google-signup-btn:hover {
  background-color: #0056b3;
}


.login-container {
  width: 300px;
  margin: 6vw auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 10px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.login-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-video {
  position: absolute;
  width: 30%;
  height: 40%;
  object-fit: cover;
  mix-blend-mode: darken;
}

.source-display {
  height: 100%;
  width: 100%;
  overflow: hidden;
}