body {
  margin: 0;
  padding: 0;
  text-align: center;
  /* color: #ccc; */
  /* position: relative; */
  height: 300vh;
  font-family: 'Nunito', sans-serif;
}

/* .blurred-bg {
  opacity: 0;
  -webkit-filter: blur(20px) brightness(0.7);
  -ms-filter: blur(20px) brightness(0.7);
  -o-filter: blur(20px) brightness(0.7);
  filter: blur(20px) brightness(0.7);
} */

.top-heading {
  margin-top: 3vh;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-heading {
  font-size: 6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bottom-heading {
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.video-bg {
  /* height: 100%; */
  width: 100%;
  animation: fadeIn 1s ease;
}

.video-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

}

.video-bg-container {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
}

.video-man {
  height: 100%;
  width: 100%;
  /* position: fixed; */
  -webkit-filter: blur(4px);
  animation: fadeIn 1s ease;
}

.logo {
  height: 32px;
  width: 120px;
  margin-top: 27px;
  mix-blend-mode: screen;

  @media only screen and (max-width: 1000px) {
    height: 60px;
    width: 80px;
  }
}

.nav-container {
  display: flex;
  /* position: sticky; */
  justify-content: space-between;
  background-color: #333;
  opacity: 80%;
  overflow: hidden;
  z-index: 1;
  height: 60px;
}

.collab {
  display: flex;

}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5vw;
  padding: 1vw;
}

.nav-container a {
  font-size: 20px;
  display: block;
  color: #edebeb;
  text-align: center;
  margin-left: 2.4vw;
  margin-top: -17px;
  margin-right: 1.6vw;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  @media only screen and (max-width: 768px) {
    font-size: 2.5vw;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2vw;
  }
}

.nav-container a:hover {
  color: white;
  text-shadow: 0px 2px 3px white;
}

.list-button {
  margin-right: 20px;
}

.list-button div {
  font-size: x-large;
}

.overlay {
  height: 0;
  width: 60%;
  position: fixed;
  z-index: 1;
  left: 20%;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 0;
    right: 35px;
  }
}

.overlay.open {
  height: 50%;
}


.signup-container {
  width: 350px;
  margin: 6vw auto;
  padding: 20px;
  position: absolute;
  left: 17vw;
  top: 5vh;
  border: 1px solid black;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  animation: fadeIn 1s ease;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration-line: underline;
}

.signup-container hr {
  border: 1px solid white;
}

.signup-form {
  margin-top: 2vh;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-btn,
.google-signup-btn {
  display: block;
  width: 100%;
  margin-top: 3vh;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover,
.google-signup-btn:hover {
  color: #e7e3d4;
  background-color: #0056b3;
}


.login-container {
  width: 300px;
  left: 20vw;
  position: absolute;
  margin: 6vw auto;
  padding: 22px;
  border: 1px solid black;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  animation: fadeIn 1s ease;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-line: underline;
}

.login-container hr {
  border: 1px solid white;
}

.login-container form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 12px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #818181;
  border-radius: 3px;
  font-size: 16px;
}

.login-container button {
  padding: 9px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 2vh;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-container button:hover {
  background-color: #0056b3;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-video {
  position: absolute;
  width: 30%;
  height: 40%;
  object-fit: cover;
  mix-blend-mode: darken;
}

.source-display {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.about-container {
  padding: 50px;
  animation: fadeIn 1s ease;
}

.about-bg {
  height: 1000vh;
  background: url(./utils/about-bg.jpg);
  -webkit-filter: blur(33px);
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
  background-color: white;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.about-content h2 {
  /* color: #333; */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-content p {
  /* color: #666; */
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-content h3 {
  /* color: #333; */
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits-list {
  padding-left: 20px;
}

.benefits-list li {
  /* color: #666; */
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow-container {
  margin-top: 250px;
}

.arrow {
  height: 55px;
  width: 55px;
}

.arrow-button {
  width: auto;
  mix-blend-mode: darken;
  border: 0px;
  cursor: pointer;
}

.divider {
  width: 90%;
  margin-top: 50px;
  border: 1.4px solid black;
}

.editor-container {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 1s ease;
}

.editor-container textarea {
  border-radius: 8px;
}

.editor-container h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}